In [533]:
import os

In [534]:
%pwd

'C:\\Users\\RICH-FILES\\Desktop\\ml\\Loan-Amount-Prediction'

In [535]:
os.chdir("../")

In [536]:
%pwd

'C:\\Users\\RICH-FILES\\Desktop\\ml'

In [537]:
from dataclasses import dataclass
from pathlib import Path

@dataclass(frozen=True)
class DataTransformationConfig:
    root_dir: Path
    data_path: Path

In [538]:
#import from constants and utils
from credit_risk.constants import *
from credit_risk.utils.common import read_yaml, create_directories

In [539]:

#creating a Configuration class
class ConfigurationManager:
    def __init__(
        self,
        config_filepath   = CONFIG_FILE_PATH,
        params_filepath   = PARAMS_FILE_PATH,
        schema_filepath   = SCHEMA_FILE_PATH):
        
        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)                       
        self.schema = read_yaml(schema_filepath)  
        
        create_directories([self.config.artifacts_root])
        
    def get_data_transformation_config(self)->DataTransformationConfig:
        config = self.config.data_transformation
        
        create_directories([config.root_dir])
        
        data_transformation_config = DataTransformationConfig(
            root_dir  = config.root_dir,
            data_path = config.data_path,
        )
        
        return data_transformation_config

In [540]:
import os
import pandas as pd 
from sklearn.model_selection import train_test_split
from credit_risk import logger
import matplotlib.pyplot as plt
import seaborn as sns

In [541]:
project_path = "C:/Users/RICH-FILES/Desktop/ml/Loan-Amount-Prediction"

os.chdir(project_path)

In [544]:
# add EDA to the data 
def data_cleaning(self, df):
    df = pd.read_csv("artifacts/data_ingestion/credit_risk.csv")
    #remove categorical data
    df.drop(columns = ["Id", "Home", "Intent", "Status", "Default"], inplace=True)
    #drop null values
    df.dropna()
    
    #remove outliers
    df = df[(df['Age'] < 25) & (df['Emp_length'] < 10)]

    
    
    
    return df

In [545]:
data_cleaning(self,df)

       Age  Income  Emp_length  Amount   Rate  Percent_income  Cred_length
1       21    9600         5.0    1000  11.14            0.10            2
3       23   65500         4.0   35000  15.23            0.53            2
4       24   54400         8.0   35000  14.27            0.55            4
5       21    9900         2.0    2500   7.14            0.25            2
7       24   78956         5.0   35000  11.11            0.44            4
...    ...     ...         ...     ...    ...             ...          ...
17823   22   19200         0.0    3000    NaN            0.16            2
17828   24   48200         3.0    5000  10.38            0.10            3
17829   23  117696         2.0   15000   6.03            0.13            4
17831   24   38000         0.0   12000  11.89            0.32            3
17832   22   52000         6.0    9750  13.06            0.19            2

[11939 rows x 7 columns]

In [ ]:
#df.shape

In [ ]:
#df.info()

In [ ]:
#df.isnull().sum()

In [ ]:
#drop the missing values
#df = df.dropna()

In [ ]:
#check missing values
#df.isnull().sum()

In [ ]:
#check descriptive statistics
#df.describe()

In [ ]:
#check non numeric columns
#df.describe(include='object')

Most of the homes are rented and the most of the loans are intented for educational purposes

In [ ]:
#check the target variable
#df['Amount'].hist()
#plt.ylabel('Count')
#plt.xlabel('Amount')    
#plt.title('Loan Amount Distribution');

The distribution is right-skewed, meaning most loan amounts fall in the lower range (below 10,000), while fewer loans exist at higher amounts

In [ ]:
#calculate Amount distribution by Age   
#plt.figure(figsize=(12,6))
#sns.scatterplot(x='Age', y='Amount', data=df) 
#plt.xlabel('Age')
#plt.ylabel('Amount')            
#plt.title('Loan Amount by Age');

Most of the loan applicants are between the age 23 to 45 years and there are three outliers above 100 years

In [ ]:
# calculating Amount distribution by Income
#plt.figure(figsize=(12,6))
#sns.scatterplot(x='Income', y='Amount', data=df)    
#plt.xlabel('Income')
#plt.ylabel('Amount')
#plt.title('Loan Amount by Income');


- most of the income values are concentrated on the left side (closer to zero).

- A few extreme outliers have very high incomes (above $1M)

- Loan amounts do not seem to increase proportionally with income, even those with high income are taking loans of varying amounts

In [ ]:
   #loan purpose count
#plt.figure(figsize=(12,6))
#df["Intent"].value_counts().plot(kind='bar')
#plt.ylabel('Count')
#plt.xlabel('Intent')
#plt.title('Loan Intent Distribution');

Most of the loan applications are going towards education followed by medical, venture, personal, debtconsolidation and the least number of applications are for homeimprovements.

In [ ]:
#check multicollinearity and correlation
#plt.figure(figsize=(12,6))  
#corr = df.select_dtypes(include=['int64', 'float64']).drop('Amount', axis=1).corr()    
#sns.heatmap(corr, annot=True, cmap='coolwarm')
#plt.title('Correlation Matrix');

There is a strong correlatedness between Age and Cred_length

In [ ]:
#drop column Id and Cred_length , Status, Default   
#columns_to_drop = ["Id", "Cred_length", "Status", "Default"]
#df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)
#pd.options.mode.copy_on_write=True
#df.head()

In [ ]:
#feature engineering
#cat_features    = df[["Home", "Intent"]]
#num_features   = df[["Age",	"Income", "Emp_length", "Amount",	"Rate", 	"Percent_income"]]

In [ ]:
#transform categorical data and stardardize the data
#from sklearn.preprocessing import StandardScaler
#from sklearn.compose import ColumnTransformer
#from sklearn.pipeline import Pipeline   
#from sklearn.pipeline import make_pipeline
#from sklearn.preprocessing import OneHotEncoder

In [ ]:
# instantiate the column StandardScaler
#numerical_processor = Pipeline(
    #steps =[("standard scaling",  StandardScaler()
    #)]  
#)

In [ ]:
# instantiate the column OneHotEncoder
#categorical_processor = Pipeline(
    #steps =[("one hot encoding", OneHotEncoder(handle_unknown='ignore', sparse_output=False)
    #)]  
#)

In [ ]:
#implement the column transformer
#preprocessor = ColumnTransformer(
    #transformers=[
        #("numerical", numerical_processor, num_features.columns),
        #("categorical", categorical_processor, cat_features.columns)
    #]
#)

In [ ]:
#fit the preprocessor
#preprocessor.fit(df)

In [ ]:
#transform the data
#transformed_data=preprocessor.transform(df)  

#data=pd.DataFrame(transformed_data)
#data.columns = num_features.columns.tolist() + preprocessor.named_transformers_["categorical"]["one hot encoding"].get_feature_names_out().tolist()
#data.to_csv("artifacts/data_ingestion/credit_risk.csv", index=False)     

#data.head()

In [ ]:
class DataTransformation:
    def __init__(self, config: DataTransformationConfig):
        self.config = config
        
        project_path = "C:/Users/RICH-FILES/Desktop/ml/Loan-Amount-Prediction"

        os.chdir(project_path)
        
                    
    def train_test_splitting(self):
        data = pd.read_csv(self.config.data_path)
        
        #split the data into train and test
        train, test = train_test_split(data, test_size=0.2, random_state=42)  
        
        train.to_csv(os.path.join(self.config.root_dir, 'train.csv'), index=False)
        test.to_csv(os.path.join(self.config.root_dir, 'test.csv'), index=False)        #save the train and test data to the root directory     
        
        logger.info("Data split into train and test data")  
        logger.info(f"Train data shape: {train.shape}")         
        logger.info(f"Test data shape: {test.shape}")  
        
        print(train.shape)
        print(test.shape)

In [ ]:
try:
    config = ConfigurationManager()
    data_transformation_config = config.get_data_transformation_config() 
    data_transformation = DataTransformation(config = data_transformation_config)
    data_transformation.train_test_splitting()
except Exception as e:
    raise e

[2025-03-06 23:38:25,433: INFO: common: yaml file: config\config.yaml loaded successfully]
[2025-03-06 23:38:25,437: INFO: common: yaml file: params.yaml loaded successfully]
[2025-03-06 23:38:25,442: INFO: common: yaml file: schema.yaml loaded successfully]
[2025-03-06 23:38:25,444: INFO: common: created directory at: artifacts]
[2025-03-06 23:38:25,445: INFO: common: created directory at: artifacts/data_transformation]
[2025-03-06 23:38:25,683: INFO: 550626937: Data split into train and test data]
[2025-03-06 23:38:25,683: INFO: 550626937: Train data shape: (26064, 12)]
[2025-03-06 23:38:25,686: INFO: 550626937: Test data shape: (6517, 12)]
(26064, 12)
(6517, 12)